/* PRUEBAS */

/* .f-font {
  color: rgba(46, 46, 46, 1);
  font-family: Poppins;
  font-weight: Medium;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
 */

/* Revisados */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Variables */
:root {
  --bg-color: #e5e5e5;
  --panel-color: #ffffff;
}

/* Componentes */

body {
  background-color: var(--bg-color);
  font-family: Poppins;
}

#panel-login {
  padding: 5% 5% 5% 5%;
  margin-right: 15%;
  background-color: var(--panel-color);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

/* Separador -- o -- */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #BFBFBF;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

/* Responsive */

@media (max-width: 768px) {
  #ilustracion {
    display: none;
  }
  #panel-login {
    margin: 20px 10px 20px 10px;
  }
}
