/* Se importa la fuente Poppins */
/* TODO: Optimizar solicitud de fuente a lo necesario */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Variables */

:root {
  --bg-color: #e5e5e5;
  --panel-color: #ffffff;
  --shadow-color: #0000001c;
  --input-bg-color: #ececec;
  --enfasis: #4c40f7;
}

/* Componentes */

body {
  background-color: var(--bg-color);
  font-family: Poppins;
  color: #2f2f2f;
}

h1 {
  font-weight: 500;
  font-size: x-large;
  margin-right: 3%;
}

/* Clases */

.alt-login {
  width: 100%;
  margin-top: 5%;
  padding: 2% 0% 2% 0%;
  border-color: var(--panel-color) !important;
  box-shadow: 0px 4px 15px var(--shadow-color);
  border-radius: 8px;
  font-size: smaller;
}

.input-group > .form-floating > .form-control,
.input-group > .input-group-text,
.input-group > .btn {
  background: var(--input-bg-color);
  border: var(--input-bg-color);
  border-radius: 8px;
}

/* Cuando se accede al campo del input */
.input-group > .form-floating > .form-control:focus {
  box-shadow: 0px 0px;
}

.bt-login {
  background-color: var(--enfasis) !important;
  margin: 3% 0% 3% 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-weight: bolder;
  border: 0px;
}

.link {
  color: var(--enfasis) !important;
  text-decoration: none;
}

/* Separador -- o -- */
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #bfbfbf;
}

.separator:not(:empty)::before {
  margin-right: 2em;
}

.separator:not(:empty)::after {
  margin-left: 2em;
}

/* Id's */

#panel-login {
  padding: 5% 8% 5% 8%;
  margin: 3% 15% 3% 0%;
  background-color: var(--panel-color);
  box-shadow: 0px 0px 4px var(--shadow-color);
  border-radius: 8px;
}

#check {
  background: var(--input-bg-color);
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

#check:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  background-color: var(--enfasis);
  border: 0px;
}

#check:focus {
  box-shadow: 0 0;
}

/* Responsive */

@media (max-width: 768px) {
  figure {
    display: none;
  }
  #panel-login {
    margin: 10px 10px 10px 10px;
  }
}
