
  input{
    width: 40%;
    margin-bottom: 20px;
  
  }

  .boton{
    color: rgb(255, 255, 255);
    background-color:#4C40F7;
    font-size: 16px;
    border-radius: 20px;
    margin-left: 240px;
    padding: 20px 120px;
    border: none;
    font-weight: 700;
    cursor: pointer;
  }


  .contenido{
    margin: 0 auto;
    width: 800px;
    /* Form outline */
    padding: 1em;
    border: 1px solid white;
    border-radius: 0em;
    background-color: white;
    padding-bottom: 40px;
  }
  header{
    display: flex;
   /* justify-content: center;*/
    padding: 10px;
   /* align-items: center;*/
    background-color: white;
    border-bottom: 1px solid #bbb8b8;
}
  .extras{
    display: flex;
    justify-content: center;
  }
  .extras h2{
    align-items: center;
    padding: 30px;
    font-size: 20px;
  }

  .extras img{
    cursor: pointer;
  }
  body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
  }


  /* nav - registroProfesor */

:root {
    --blanco: #FFFFFF;
    --primary: #4C40F7;
    --gris-1: #444343;
    --gris-2: #6B6B6B;
}

a {
    text-decoration: none;
   /* padding-top: 10px;*/
   padding-bottom: 8px;
}



.nav-student h4{
    font-weight: 700;
    margin: 0.5rem 1rem 0rem 0rem;
    padding: 0.5rem;
    color: var(--primary);
    border-style: solid;
    border-radius: 15px;
    border-width: 0.15rem;
    border-color: var(--primary);
}

.nav-student h4:hover{
    font-weight: 700;
    margin: 0.5rem 1rem 0rem 0rem;
    padding: 0.5rem;
    color: var(--blanco);
    background: var(--primary);
    border-style: solid;
    border-radius: 15px;
    border-width: 0.15rem;
    border-color: var(--primary);
}

.title-register {
  margin: 0 auto;
  margin-top: 10px;

}
